<div style="text-align:center; color:gray;">
    <h1>PERSONAL INCOME & EXPENSE TRACKER</h1>
    <h1>Database Design</h1>
</div>

<div style="text-align:center; color:gray;">
    <h2>Prathima Godha, Kashmira Golatkar, Kenny Lawrence - Fall 2023 ADT Project</h2>
</div>

<div class="alert alert-block alert-info">
<h2>
<b> Formating existing dataset(Data Preprocessing)-by Prathima Godha </b>
</h2> 
    
</div>

In [5]:
#This code is contributed by Prathima Godha
#Raw kaggle data is of below format 
import pandas as pd
df = pd.read_csv('expense_data_1.csv')
print(df.shape)
print(df.head())

(277, 11)
           Date               Account        Category  Subcategory  \
0  3/2/22 10:11  CUB - online payment            Food          NaN
1  3/2/22 10:11  CUB - online payment           Other          NaN
2  3/1/22 19:50  CUB - online payment            Food          NaN
3  3/1/22 18:56  CUB - online payment  Transportation          NaN
4  3/1/22 18:22  CUB - online payment            Food          NaN

               Note    INR Income/Expense  Note.1  Amount Currency  Account.1
0           Brownie   50.0        Expense     NaN    50.0      INR       50.0
1  To lended people  300.0        Expense     NaN   300.0      INR      300.0
2            Dinner   78.0        Expense     NaN    78.0      INR       78.0
3             Metro   30.0        Expense     NaN    30.0      INR       30.0
4            Snacks   67.0        Expense     NaN    67.0      INR       67.0

In [41]:
'''The below code eliminats the unnecessary columns(subcategory, Note.1, currency, Account.1, INR etc..)
    from the raw data file and format the data by adding username, firstname, lastname, password fields 
    and format the payment mode column data as per the need'''
#This code is contributed by Prathima Godha

import pandas as pd
import numpy as np

df = pd.read_csv('expense_data_1.csv')
df.head()

user_data=pd.DataFrame()

user_data[['Date','Income/Expense','Category','Amount','Comment']]=df[['Date','Income/Expense','Category','Amount','Note']]
for i in range(len(df)):
    user_data['FirstName']='Tharun'
    user_data['LastName']='Prabhu'
    user_data['UserName']='tprabhu'
    user_data['Password']='prabhu09'
user_data['PaymentMode'] = np.where(df['Account']=='CUB - online payment', 'Online', 'Cash')
user_data.to_csv('new_prabhu_expenses.csv', index=False)

In [6]:
#This code is contributed by Prathima Godha
#The processed data file is as below
df = pd.read_csv('new_prabhu_expenses.csv')
print(df.shape)
print(df.head())

(277, 10)
           Date Income/Expense        Category  Amount           Comment  \
0  3/2/22 10:11        Expense            Food    50.0           Brownie
1  3/2/22 10:11        Expense           Other   300.0  To lended people
2  3/1/22 19:50        Expense            Food    78.0            Dinner
3  3/1/22 18:56        Expense  Transportation    30.0             Metro
4  3/1/22 18:22        Expense            Food    67.0            Snacks

  FirstName LastName UserName  Password PaymentMode
0    Tharun   Prabhu  tprabhu  prabhu09      Online
1    Tharun   Prabhu  tprabhu  prabhu09      Online
2    Tharun   Prabhu  tprabhu  prabhu09      Online
3    Tharun   Prabhu  tprabhu  prabhu09      Online
4    Tharun   Prabhu  tprabhu  prabhu09      Online

<div class="alert alert-block alert-info">
<h2>
<b> Creating dummy dataset- by Prathima Godha  </b>
</h2>    
</div>

In [7]:
#The below code is contributed by Prathima Godha
'''The raw kaggle dataset contains only 277 rows and also data of only one user. So with reference of the above
    data set, we generated around data for around 20 users for all the months since 2015. To do this we took help of
    "Faker" package which generated fake data of name, username, firstname, password etc for the users. The dataset 
    consists of approximately 26946 rows'''
import pandas as pd
from faker import Faker
import random
import csv

fake = Faker()

# Defining categories and comments
expenses_categories = ['Food', 'Groceries', 'Transportation', 'Rent', 'Car', 'Utilities', 
                       'Apparel', 'Beauty', 'Education', 'Gift', 'Household', 'Other', 
                       'Self-development', 'Social Life']
income_categories = ['Allowance', 'Other', 'Petty cash', 'Salary', 'Rental Income', 'Part-time']
payment_modes = ['Online', 'Cash']
income_expense = ['Income', 'Expense']

    

# Generate data for each month of each year for each user
data_entries = []
user_count = 20
years = range(2015, 2024)
months = range(1, 13)
    

for user_id in range(user_count):  
    user = fake.simple_profile()
    for year in years:
        for month in months:
            for i in range(random.randint(8,17)):
                inc_exp=random.choice(income_expense)
                data_entries.append({
        "FirstName": user['name'].split()[0],
        "LastName": user['name'].split()[1],
        "UserName": user['username'],
        "Password": fake.password(),
        "Date": f"{month}/15/{year} {random.randint(0,23)}:{str(random.randint(0,59)).zfill(2)}",
        "PaymentMode": random.choice(payment_modes),
        "Income/Expense": inc_exp,
        "Category": random.choice(expenses_categories if inc_exp == 'Expense' else income_categories),
        "Amount": round(random.uniform(10, 5000), 2),
        "Comment": fake.sentence() if random.choice([True, False]) else ""
    })


df = pd.DataFrame(data_entries)

df.to_csv('financial_data.csv', index=False)

In [8]:
#This code is contributed by Prathima Godha
#The generated data shape and format is as below
df = pd.read_csv('financial_data.csv')
print(df.shape)
print(df.head())

(26946, 10)
  FirstName LastName    UserName    Password             Date PaymentMode  \
0     Tracy    Lopez  lesliebass  l9Q+DgD#(w  1/15/2015 11:59      Online
1     Tracy    Lopez  lesliebass  r9C5u3Aa*p   1/15/2015 4:31      Online
2     Tracy    Lopez  lesliebass  vN$04yKz@c   1/15/2015 6:02      Online
3     Tracy    Lopez  lesliebass  9hQckQYy&*  1/15/2015 12:45      Online
4     Tracy    Lopez  lesliebass  ^yNnawdUE9  1/15/2015 16:06      Online

  Income/Expense    Category   Amount                                  Comment
0        Expense   Education   884.38           Assume same meet success real.
1         Income  Petty cash  3772.82  Effort detail right agreement increase.
2        Expense   Education   929.83              Child whether soldier have.
3        Expense        Gift  2358.00                                      NaN
4        Expense        Gift  3590.80           Gun company down threat spend.

<div class="alert alert-block alert-info">
<h2>
<b> Merging two Datasets- by Prathima Godha  </b>
</h2>    
</div>

In [60]:
#This code is contributed by Prathima Godha

#concating both the dataframes
df1=pd.read_csv('new_prabhu_expenses.csv')
df2=pd.read_csv('financial_data.csv')
combined_df = pd.concat([df1, df2], ignore_index=True)
print(combined_df.head())
combined_df.to_csv("financials_data.csv",index=False)

           Date Income/Expense        Category  Amount           Comment  \
0  3/2/22 10:11        Expense            Food    50.0           Brownie
1  3/2/22 10:11        Expense           Other   300.0  To lended people
2  3/1/22 19:50        Expense            Food    78.0            Dinner
3  3/1/22 18:56        Expense  Transportation    30.0             Metro
4  3/1/22 18:22        Expense            Food    67.0            Snacks

  FirstName LastName UserName  Password PaymentMode
0    Tharun   Prabhu  tprabhu  prabhu09      Online
1    Tharun   Prabhu  tprabhu  prabhu09      Online
2    Tharun   Prabhu  tprabhu  prabhu09      Online
3    Tharun   Prabhu  tprabhu  prabhu09      Online
4    Tharun   Prabhu  tprabhu  prabhu09      Online

<div class="alert alert-block alert-info">
<h2>
<b> Normalising the data - by Kenny Lawrence  </b>
</h2>    
</div>

In [66]:
#This code is contributed by Kenny Lawrence

'''Seperated the data two two different sheets to store user specific data in one sheet and transactions
    specific data in another sheet to have data consistency and converted date to datetime format to extract
    required month and year data. Droped the date column and stored the normalized data in seperate tables'''

import pandas as pd

df = pd.read_csv('financials_data.csv')

user_details_columns = ['FirstName', 'LastName', 'UserName', 'Password', ]
transaction_data_columns = [ 'UserName','Date', 'Income/Expense', 'Category','PaymentMode', 'Amount', 'Comment']

# Create a DataFrame for user details, dropping duplicates since one user can have many transactions
user_details_df = df[user_details_columns].drop_duplicates(subset=['UserName'])

# Create a DataFrame for transaction data
transaction_data_df = df[transaction_data_columns]

# Convert the 'Date' column to datetime and extract month and year into seperate columns
transaction_data_df['Date'] = pd.to_datetime(transaction_data_df['Date'], format='%m/%d/%y %H:%M')
transaction_data_df['Month'] = transaction_data_df['Date'].dt.month
transaction_data_df['Year'] = transaction_data_df['Date'].dt.year

# Now you can drop the original 'Date' column if it's no longer needed
transaction_data_df.drop('Date', axis=1, inplace=True)

transaction_data_df.dropna(subset = ['UserName','Month','Year', 'Income/Expense', 'Category','PaymentMode', 'Amount'], inplace=True)

# Save the normalized data to new CSV files
user_details_df.to_csv('user_details.csv', index=False)
transaction_data_df.to_csv('transaction_data.csv', index=False)

/var/folders/qd/xknlwn055nqdf0nt8xf036100000gn/T/ipykernel_5422/3086327233.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  transaction_data_df['Date'] = pd.to_datetime(transaction_data_df['Date'], format='%m/%d/%y %H:%M')
/var/folders/qd/xknlwn055nqdf0nt8xf036100000gn/T/ipykernel_5422/3086327233.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  transaction_data_df['Month'] = transaction_data_df['Date'].dt.month
/var/folders/qd/xknlwn055nqdf0nt8xf036100000gn/T/ipykernel_5422/3086327233.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  transaction_data_df['Year'] = transaction_data_df['Date'].dt.year
/var/folders/qd/xknlwn055nqdf0nt8xf036100000gn/T/ipykernel_5422/3086327233.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  transaction_data_df.drop('Date', axis=1, inplace=True)
/var/folders/qd/xknlwn055nqdf0nt8xf036100000gn/T/ipykernel_5422/3086327233.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  transaction_data_df.dropna(subset = ['UserName','Month','Year', 'Income/Expense', 'Category','PaymentMode', 'Amount'], inplace=True)

In [11]:
#This code is contributed by Kenny Lawrence
#The generated data shape and format is as below
df = pd.read_csv('user_details.csv')
print(df.shape)
print(df.head())

(13, 4)
  FirstName   LastName           UserName    Password
0    Tharun     Prabhu            tprabhu    prabhu09
1     Tracy      Lopez         lesliebass  l9Q+DgD#(w
2     Caleb    Bennett  doughertyjennifer  pK2O#hw7$k
3      Mary  Velasquez       darlenebrown  b)S)P8laiR
4     Sarah   Shepherd       angeladennis  2&82E_Dm^q

In [12]:
#This code is contributed by Kenny Lawrence
#The generated data shape and format is as below
df = pd.read_csv('transaction_data.csv')
print(df.shape)
print(df.head())

(16292, 8)
  UserName Income/Expense        Category PaymentMode  Amount  \
0  tprabhu        Expense            Food      Online    50.0
1  tprabhu        Expense           Other      Online   300.0
2  tprabhu        Expense            Food      Online    78.0
3  tprabhu        Expense  Transportation      Online    30.0
4  tprabhu        Expense            Food      Online    67.0

            Comment  Month  Year
0           Brownie      3  2022
1  To lended people      3  2022
2            Dinner      3  2022
3             Metro      3  2022
4            Snacks      3  2022

<div class="alert alert-block alert-info">
<h2>
<b> Adding data into MongoDB database - by Kashmira Golatkar</b>
</h2>    
</div>

In [2]:
##This code is contributed by Kashmira Golatkar

import pandas as pd
from pymongo import MongoClient
from bson import ObjectId
import calendar

# Connect to the MongoDB database
client = MongoClient('mongodb+srv://kgolatka:root@cluster0.vzbsfma.mongodb.net/?retryWrites=true&w=majority')
db = client['personal_income_expense_tracker']  
collection = db['users_financials']  

df = pd.read_csv('transaction_data.csv')

df['Month'] = df['Month'].apply(lambda x: calendar.month_name[x])

# Function to create the JSON structure 
def create_json_structure(group):
    income = group[group['Income/Expense'] == 'Income'].set_index('Category')['Amount'].to_dict()
    expenses = group[group['Income/Expense'] == 'Expense'].set_index('Category')['Amount'].to_dict()
    comments = group['Comment'].dropna().tolist()

    return {
        "_id": ObjectId(),
        "username": group['UserName'].iloc[0],
        "year": int(group['Year'].iloc[0]),
        "month": group['Month'].iloc[0],
        "income": income,
        "expenses": expenses,
        "comments": comments
    }

# Group the data by username, year, and month and apply the function to create the JSON structure
documents = df.groupby(['UserName', 'Year', 'Month']).apply(create_json_structure).tolist()

# Insert the documents into the MongoDB collection
collection.insert_many(documents)

print("Data has been inserted into MongoDB.")

Data has been inserted into MongoDB.

In [14]:
#Kashmira Golatkar
#Connect to MongoDB

from pymongo import MongoClient
client = MongoClient('mongodb+srv://kgolatka:root@cluster0.vzbsfma.mongodb.net/?retryWrites=true&w=majority')
db = client.personal_income_expense_tracker  # Replace 'your_database_name' with your actual database name
collection = db.user_financials  # Replace 'your_collection_name' with your actual collection name
print(collection)

Collection(Database(MongoClient(host=['ac-ts1jahu-shard-00-00.vzbsfma.mongodb.net:27017', 'ac-ts1jahu-shard-00-02.vzbsfma.mongodb.net:27017', 'ac-ts1jahu-shard-00-01.vzbsfma.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-c7s88e-shard-0', tls=True), 'personal_income_expense_tracker'), 'user_financials')

<div class="alert alert-block alert-info">
<h2>
<b> Queries relevant to our application functionality design - by Kashmira Golatkar, Prathima Godha, Kenny Lawrence</b>
</h2>    
</div>

<div class="alert alert-block alert-warning">  
<h2><b>Updating a transaction- by Kashmira Golatkar </b></h2>
</div>

In [41]:
#by Kashmira Golatkar

#Updating document: Example updated the parttime income of the user : angeladennis in 2015 for April month
import pymongo
import pprint

def update_document(filter, new_value):
    client = pymongo.MongoClient("mongodb+srv://kgolatka:root@cluster0.vzbsfma.mongodb.net/?retryWrites=true&w=majority")

    # Get database and collection
    db = client["personal_income_expense_tracker"]
    col = db["users_financials"]

    # update the document with query filter and new Part-time value and
    result = col.update_one(filter, {"$set": new_value})

    print(f"Matched Count: {result.matched_count}")
    print(f"Modified Count: {result.modified_count}")

    updated_doc = col.find_one(filter)
    
    print("Updated Document:")
    pprint.pprint(updated_doc)

if __name__ == "__main__":
    filter = {"username": "angeladennis", "year": 2015, "month": "April"}
    new_value = {"income.Salary": 2000.00}
    update_document(filter, new_value )

Matched Count: 1
Modified Count: 1
Updated Document:
{'_id': ObjectId('655154a8bd35660230582595'),
 'comments': ['High environmental be car nice firm.',
              'Exactly number really along without stop time.',
              'Knowledge positive skill lawyer listen cold share whom.',
              'Would though wind reality else senior high.',
              'Dog TV blood near instead voice decision.',
              'City democratic share process age.',
              'Knowledge yeah human set product special.',
              'Beat memory future.',
              'Just small Congress middle.'],
 'expenses': {'Apparel': 3575.58,
              'Food': 3701.23,
              'Gift': 4995.83,
              'Household': 1169.98,
              'Self-development': 2947.42,
              'Social Life': 3271.04,
              'Transportation': 225.74,
              'Utilities': 4459.75},
 'income': {'Allowance': 3503.48,
            'Other': 1198.48,
            'Part-time': 2000.0,
            'Petty cash': 2238.46,
            'Salary': 2000.0},
 'month': 'April',
 'username': 'angeladennis',
 'year': 2015}

In [42]:
# By Kashmira Golatkar
if __name__ == "__main__":
    filter = {"username": "angeladennis", "year": 2015, "month": "April"}
    new_value = {"income.Rental Income": 4000.00}
    update_document(filter, new_value )

Matched Count: 1
Modified Count: 1
Updated Document:
{'_id': ObjectId('655154a8bd35660230582595'),
 'comments': ['High environmental be car nice firm.',
              'Exactly number really along without stop time.',
              'Knowledge positive skill lawyer listen cold share whom.',
              'Would though wind reality else senior high.',
              'Dog TV blood near instead voice decision.',
              'City democratic share process age.',
              'Knowledge yeah human set product special.',
              'Beat memory future.',
              'Just small Congress middle.'],
 'expenses': {'Apparel': 3575.58,
              'Food': 3701.23,
              'Gift': 4995.83,
              'Household': 1169.98,
              'Self-development': 2947.42,
              'Social Life': 3271.04,
              'Transportation': 225.74,
              'Utilities': 4459.75},
 'income': {'Allowance': 3503.48,
            'Other': 1198.48,
            'Part-time': 2000.0,
            'Petty cash': 2238.46,
            'Rental Income': 4000.0,
            'Salary': 2000.0},
 'month': 'April',
 'username': 'angeladennis',
 'year': 2015}

<div class="alert alert-block alert-warning">  
<h2><b>Retrieving set of transactions- by Kenny Lawrence </b></h2>
</div>

In [34]:
# by Kenny Lawrence
# retrieve documents- Example retrieving income and expense data of all documents of angeladennis of 2016 year
def retrieve_document(query_filter):
    client = pymongo.MongoClient("mongodb+srv://kgolatka:root@cluster0.vzbsfma.mongodb.net/?retryWrites=true&w=majority")

    db = client["personal_income_expense_tracker"]
    col = db["users_financials"]
 
    projection = {"income": 1, "expenses": 1}  

    # Finding and projecting the query_filter 
    results = col.find(filter=query_filter, projection=projection)

    print(col.count_documents(query_filter))
    
    #printing the projected documents
    for doc in results:
        pprint.pprint(doc)
    
if __name__ == "__main__":
    query_filter = {"year": 2016, "username": "angeladennis"} 
    retrieve_document(query_filter)

11
{'_id': ObjectId('655154a8bd356602305825a1'),
 'expenses': {'Apparel': 1332.58, 'Education': 4936.59, 'Gift': 1392.39},
 'income': {'Other': 1916.64, 'Part-time': 1715.98, 'Rental Income': 1793.55}}
{'_id': ObjectId('655154a8bd356602305825a2'),
 'expenses': {'Beauty': 4535.86,
              'Car': 3059.71,
              'Groceries': 1601.92,
              'Household': 4360.14,
              'Other': 4839.7,
              'Self-development': 3878.87},
 'income': {'Allowance': 1643.17,
            'Other': 2601.02,
            'Part-time': 1635.64,
            'Petty cash': 52.03,
            'Rental Income': 1253.23,
            'Salary': 4945.7}}
{'_id': ObjectId('655154a8bd356602305825a3'),
 'expenses': {'Apparel': 1253.67,
              'Education': 3014.66,
              'Food': 2914.78,
              'Other': 2294.77,
              'Social Life': 469.44,
              'Utilities': 2632.28},
 'income': {'Other': 1226.19,
            'Part-time': 1350.82,
            'Rental Income': 4809.94,
            'Salary': 4223.68}}
{'_id': ObjectId('655154a8bd356602305825a4'),
 'expenses': {'Gift': 2095.18, 'Groceries': 2405.84, 'Rent': 3813.73},
 'income': {'Allowance': 3384.63,
            'Other': 4212.14,
            'Petty cash': 4843.32,
            'Rental Income': 3536.05}}
{'_id': ObjectId('655154a8bd356602305825a5'),
 'expenses': {'Apparel': 3202.36,
              'Household': 3261.66,
              'Rent': 4986.92,
              'Transportation': 3350.21},
 'income': {'Other': 865.88, 'Rental Income': 2652.0}}
{'_id': ObjectId('655154a8bd356602305825a6'),
 'expenses': {'Beauty': 502.55, 'Rent': 4631.65},
 'income': {'Allowance': 2938.63,
            'Other': 64.77,
            'Petty cash': 248.15,
            'Rental Income': 3457.74,
            'Salary': 2927.41}}
{'_id': ObjectId('655154a8bd356602305825a7'),
 'expenses': {'Apparel': 3524.8,
              'Beauty': 3471.6,
              'Car': 1093.52,
              'Gift': 4552.52,
              'Groceries': 4343.92,
              'Other': 3398.18},
 'income': {'Allowance': 2516.15, 'Petty cash': 4631.69}}
{'_id': ObjectId('655154a8bd356602305825a9'),
 'expenses': {'Food': 953.03,
              'Social Life': 3001.44,
              'Transportation': 4723.16},
 'income': {'Allowance': 4390.35,
            'Other': 2965.16,
            'Part-time': 4904.21,
            'Petty cash': 1836.55,
            'Rental Income': 4202.78,
            'Salary': 695.6}}
{'_id': ObjectId('655154a8bd356602305825aa'),
 'expenses': {'Apparel': 1304.79,
              'Education': 4107.11,
              'Food': 1101.53,
              'Gift': 3161.71,
              'Utilities': 1653.39},
 'income': {'Part-time': 2185.35, 'Petty cash': 4877.11, 'Salary': 4243.54}}
{'_id': ObjectId('655154a8bd356602305825ab'),
 'expenses': {'Apparel': 343.18,
              'Car': 689.73,
              'Food': 1171.54,
              'Household': 2035.43},
 'income': {'Allowance': 4208.67,
            'Part-time': 1537.96,
            'Petty cash': 2400.68,
            'Rental Income': 4077.7}}
{'_id': ObjectId('655154a8bd356602305825ac'),
 'expenses': {'Apparel': 908.06,
              'Other': 2294.1,
              'Self-development': 4027.31,
              'Utilities': 4263.93},
 'income': {'Part-time': 1923.18,
            'Petty cash': 476.31,
            'Rental Income': 3724.07}}

<div class="alert alert-block alert-warning">  
<h2><b>Deleting a transaction- by Prathima Godha</b></h2>
</div>

In [38]:
# by Prathima Godha
# delete particular document: Example delete a document of angeladennis for May month of 2016
def delete_document(query):
    client = pymongo.MongoClient("mongodb+srv://kgolatka:root@cluster0.vzbsfma.mongodb.net/?retryWrites=true&w=majority")

    db = client["personal_income_expense_tracker"]
    col = db["users_financials"]

    result = col.delete_one(query)

    print(f"Documents deleted: {result.deleted_count}")
        
    if result.deleted_count > 0:
        print("Successfully deleted document")
    else:
        print("No document found matching query filter")

    
if __name__ == "__main__":
    query = {"year": 2016, "month": "May", "username": "angeladennis"}
    delete_document(query)

Documents deleted: 1
Successfully deleted document

<div class="alert alert-block alert-warning">  
<h2><b>Creating a document- by Prathima Godha</b></h2>
</div>

In [39]:
#by Prathima Godha

#The insert_document get a new document and inserts into the DB 
def insert_document(new_document):
    client = pymongo.MongoClient("mongodb+srv://kgolatka:root@cluster0.vzbsfma.mongodb.net/?retryWrites=true&w=majority")

    db = client["personal_income_expense_tracker"]
    col = db["users_financials"]

    insert_result = col.insert_one(new_document)

    # Print the inserted document
    inserted_document = col.find_one({'_id': insert_result.inserted_id})
    print("Inserted Document:")
    pprint.pprint(inserted_document)

# Example - creating  a sample document for april month of 2023 for a existing user "tprabhu" and insert into DB
if __name__ == "__main__":
    new_document = {
            "comments": [
                "Food: Brownie",
                "Part-time income at college",
                "other income is tips"

            ],
            "expenses": {
                "Apparel": 1000,
                "Food": 500,
            },
            "income": {
                "Part-time": 1500,
                "Other": 200,
            },
            "month": "April",
            "username": "tprabhu",
            "year": 2023
        }
    insert_document(new_document)

Inserted Document:
{'_id': ObjectId('65529f36f5c7c084658c24b6'),
 'comments': ['Food: Brownie',
              'Part-time income at collegeother income is tips'],
 'expenses': {'Apparel': 1000, 'Food': 500},
 'income': {'Other': 200, 'Part-time': 1500},
 'month': 'April',
 'username': 'tprabhu',
 'year': 2023}